<h1>Tweet List</h1>
<table>
  <tr>
    <th>Content</th>
  </tr>
<% @twclones.each do |twclone| %>
  <tr>
    <td><%= twclone.content %></td>
    <td><%= link_to 'edit tweet', edit_twclone_path(twclone.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to 'create new tweet', new_twclone_path %>